{% extends "base.html" %}

{% block content %}
<h1 class="index-content">Taxi Service Home</h1>
<p class="index-content">Welcome to Best Taxi Ever!</p>
<h2 class="index-content">Dynamic content</h2>
<p class="index-content">The Taxi service has the following record counts:</p>
<ul>
    <li class="index-content"><strong>Cars:</strong> {{ num_cars }}</li>
    <li class="index-content"><strong>Drivers:</strong> {{ num_drivers }}</li>
    <li class="index-content"><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
</ul>

<p class="index-content">You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
</p>


{% endblock %}
